body{
    /* width: 80%; */
    /* margin:25px auto; */
}

.navbg{
    background-color: rgba(0, 0, 0, 0.973);
    position: fixed;
    z-index: 10;
    width: 100vw;
    margin-top: -51px;
}

::-webkit-scrollbar{
    display: none;
}
.gallery-container{
    margin-top: 50px;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0px;
    /* height: 600px; */
    overflow-y: scroll;
    align-items: center;
    /* background-color: red; */
    justify-content: center;
}

.gallery-container::-webkit-scrollbar{
    display: none;
}

/* .navbg{
    background-color: rgba(0, 0, 0, 0.616);
    position: fixed;
    z-index: 10;
    width: 100vw;
} */

h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
    /* background-color: red; */

}

.gallery-container img{
    
    /* border-radius: 5px;  */
    width:200px;
    height: 200px;
    margin: 3px;
    filter: grayscale(100%);
    cursor: pointer;


}
.gallery-container img:hover{
    
    border-radius: 5px; 
    filter: grayscale(0%);
    transition: ease-in 0.5s;
    box-shadow: 0px 2px 10px 5px rgb(37, 37, 37);
    transform: scale(1.1);
    z-index: 10;
    border:2px solid black;


}

.carousel-container{
    /* background-color: red; */
    padding: 10px 100px;
    width: 70%;
    margin: 50px auto;
    
}

.carousel-container img{
   width: 400px;
   height: 500px;
   border-radius: 10px;
   /* border: 2px solid black; */
   margin:0px 5px;
}

.social-links-container{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.single-social-button{
    height: 30px;
    width: 30px;
    /* background-color: red; */
    /* padding: 5px; */
    border-radius: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    color: black;
}
.single-social-button:hover,.link:hover{
    background-color: lightgray;
    text-decoration: none;
    color: black;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 20px;
    color: black;

    
}
.link{
    width: fit-content;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    /* background-color: green; */
    border-radius: 50px;
    margin: 0px 10px;
}

